In [111]:
from sklearn.preprocessing import LabelEncoder

In [112]:
import pandas as pd
import numpy as np

vgSalesOriginal = pd.read_csv("vgsales.csv",encoding='utf8')
vgSalesOriginal

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

* Columnas nulas

In [113]:
vgSalesOriginal.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

* Se eliminan los registros ya que sin aÃ±o y desarrolladora, no sirven para el objetivo

In [114]:
vgSalesOriginal = vgSalesOriginal.dropna()
vgSalesOriginal.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

# Modelo de Regresion Lineal

In [115]:
categorical_labels = ['Platform', 'Genre', 'Publisher']
numerical_lables = ['Global_Sales']
enc = LabelEncoder()
encoded_df = pd.DataFrame(columns=['Platform', 'Genre', 'Publisher', 'Global_Sales'])
encoded_df

Empty DataFrame
Columns: [Platform, Genre, Publisher, Global_Sales]
Index: []

In [116]:
for label in categorical_labels:
    temp_column = vgSalesOriginal[label]    
    encoded_temp_col = (temp_column)

    encoded_df[label] = encoded_temp_col
encoded_df

      Platform         Genre   Publisher Global_Sales
0          Wii        Sports    Nintendo          NaN
1          NES      Platform    Nintendo          NaN
2          Wii        Racing    Nintendo          NaN
3          Wii        Sports    Nintendo          NaN
4           GB  Role-Playing    Nintendo          NaN
...        ...           ...         ...          ...
16593      GBA      Platform       Kemco          NaN
16594       GC       Shooter  Infogrames          NaN
16595      PS2        Racing  Activision          NaN
16596       DS        Puzzle    7G//AMES          NaN
16597      GBA      Platform     Wanadoo          NaN

[16291 rows x 4 columns]

In [117]:
for label in categorical_labels:
    temp_column = vgSalesOriginal[label]    
    encoded_temp_col = enc.fit_transform(temp_column)

    encoded_df[label] = encoded_temp_col
encoded_df

       Platform  Genre  Publisher Global_Sales
0            26     10        359          NaN
1            11      4        359          NaN
2            26      6        359          NaN
3            26     10        359          NaN
4             5      7        359          NaN
...         ...    ...        ...          ...
16593         6      4        269          NaN
16594         7      8        241          NaN
16595        16      6         21          NaN
16596         4      5          8          NaN
16597         6      4        544          NaN

[16291 rows x 4 columns]

In [118]:
for label in numerical_lables:
    encoded_df[label] = vgSalesOriginal[label].values

encoded_df

       Platform  Genre  Publisher  Global_Sales
0            26     10        359         82.74
1            11      4        359         40.24
2            26      6        359         35.82
3            26     10        359         33.00
4             5      7        359         31.37
...         ...    ...        ...           ...
16593         6      4        269          0.01
16594         7      8        241          0.01
16595        16      6         21          0.01
16596         4      5          8          0.01
16597         6      4        544          0.01

[16291 rows x 4 columns]

## Las mÃ©tricas MSE, MAE, RMSE y R-Squared se utilizan principalmente para evaluar las tasas de error de predicciÃ³n y el rendimiento del modelo en el anÃ¡lisis de regresiÃ³n.

* **MAE (Mean absolute error):** representa la diferencia entre los valores originales y predichos extraÃ­dos por el promedio de la diferencia absoluta sobre el conjunto de datos.
Referencia: https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_absolute_error.html

* **MSE (Mean Squared Error):** representa la diferencia entre los valores originales y predichos extraÃ­dos por la diferencia promedio al cuadrado sobre el conjunto de datos.
Referencia: https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_squared_error.html

* **RMSE (Root Mean Squared Error):** es la tasa de error por la raÃ­z cuadrada de MSE.

* **R-squared (Coefficient of determination):** representa el coeficiente de quÃ© tan bien se ajustan los valores en comparaciÃ³n con los valores originales. El valor de 0 a 1 interpretado como porcentajes. Cuanto mayor sea el valor, mejor serÃ¡ el modelo.
Referencia: https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html

### Tanto para MAE y RMSE segÃºn la documentaciÃ³n oficial de sklearn el mejor valor para estos es **0**.

# Cross Validation en Machine Learning

En Machine Learning, no podemos ajustar el modelo a los datos de entrenamiento y no podemos decir que el modelo funcionarÃ¡ con precisiÃ³n para los datos reales. Para esto, debemos asegurarnos de que nuestro modelo obtuvo los patrones correctos de los datos y no genera demasiado ruido. Para ello utilizamos la tÃ©cnica de **Cross Validation**.

**Cross Validation** es una tÃ©cnica en la que entrenamos nuestro modelo usando un subconjunto del conjunto de datos y luego lo evaluamos usando el subconjunto complementario del conjunto de datos.

# Regresion sin Cross Validation

In [119]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score, cross_val_predict
from sklearn.model_selection import train_test_split

In [120]:
x = encoded_df.iloc[:, 0:3]
y = encoded_df.iloc[:,3:]

scalar = StandardScaler()

x = scalar.fit_transform(x)

linear_reg = LinearRegression()

linear_reg.fit(x, y)

y_pred = linear_reg.predict(x)

r2 = r2_score(y, y_pred)

print('\nRegresion sin Cross Validation:')

print(f'MAE en $ (Milliones): {mean_absolute_error(y_pred, y)}')

print(f'MSE en $ (Milliones): {mean_squared_error(y_pred, y)}')

print(f'R2 Coeff: {r2}')

encoded_df['Prediccion'] = y_pred;
encoded_df

Regresion sin Cross Validation:
MAE en $ (Milliones): 0.5935662579079346
MSE en $ (Milliones): 2.4522866697615524
R2 Coeff: 0.0016818555165935

       Platform  Genre  Publisher  Global_Sales  Prediccion
0            26     10        359         82.74    0.653898
1            11      4        359         40.24    0.519717
2            26      6        359         35.82    0.616324
3            26     10        359         33.00    0.653898
4             5      7        359         31.37    0.516770
...         ...    ...        ...           ...         ...
16593         6      4        269          0.01    0.476992
16594         7      8        241          0.01    0.514533
16595        16      6         21          0.01    0.501407
16596         4      5          8          0.01    0.427333
16597         6      4        544          0.01    0.528280

[16291 rows x 5 columns]

**El MAE aquÃ­ indica en quÃ© tan lejos estoy de la respuesta correcta si 1 es igual a 1 millÃ³n en ventas.**

# Promedio de las predicciones mediante el conjunto

In [121]:
encoded_df_copy = encoded_df
ps2 = 16
acction = 1
query = "Platform == {p} and Genre == {g}".format(p=ps2, g=adventure)

promedioPrediccion = encoded_df_copy.query(query)['Prediccion'].mean()
promedioVentasGlobalesCombinacion = encoded_df_copy.query(query)['Global_Sales'].mean()

print("Conjunto: PS2 y Accion")
print("Promedio de ventas del conjunto:", promedioVentasGlobalesCombinacion)
print("Promedio de las predicciones:", promedioPrediccion)

Conjunto: PS2 y Accion
Promedio de ventas del conjunto: 0.7274056603773594
Promedio de las predicciones: 0.5490208738447979

# Regresion con Cross Validation

In [122]:
linear_reg = LinearRegression()

y_pred = cross_val_predict(linear_reg, x, y, cv=5)

r2 = r2_score(y, y_pred)

print(f'MAE en ventas (Millions): {mean_absolute_error(y_pred, y)}')
print(f'MSE en ventas (Millions): {mean_squared_error(y_pred, y)}')
print(f'R2 Coeff: {r2}')

encoded_df['Prediccion'] = y_pred;
encoded_df

MAE en ventas (Millions): 0.7429028707389985
MSE en ventas (Millions): 2.775671050033238
R2 Coeff: -0.12996690253791932

       Platform  Genre  Publisher  Global_Sales  Prediccion
0            26     10        359         82.74    0.192883
1            11      4        359         40.24    0.164003
2            26      6        359         35.82    0.186142
3            26     10        359         33.00    0.192883
4             5      7        359         31.37    0.161551
...         ...    ...        ...           ...         ...
16593         6      4        269          0.01    0.614219
16594         7      8        241          0.01    0.643337
16595        16      6         21          0.01    0.628903
16596         4      5          8          0.01    0.567455
16597         6      4        544          0.01    0.662224

[16291 rows x 5 columns]

In [123]:
encoded_df_copy = encoded_df
ps2 = 16
acction = 1
query = "Platform == {p} and Genre == {g}".format(p=ps2, g=adventure)

promedioPrediccion = encoded_df_copy.query(query)['Prediccion'].mean()
promedioVentasGlobalesCombinacion = encoded_df_copy.query(query)['Global_Sales'].mean()

print("Conjunto: PS2 y Accion")
print("Promedio de ventas del conjunto:", promedioVentasGlobalesCombinacion)
print("Promedio de las predicciones:", promedioPrediccion)

Conjunto: PS2 y Accion
Promedio de ventas del conjunto: 0.7274056603773594
Promedio de las predicciones: 0.5081396301936939

# Ridge Regression con Cross Validation

In [124]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV

In [125]:
x = scalar.fit_transform(x)

ridge = Ridge()

grid = GridSearchCV(ridge, param_grid={'alpha':range(0,10)}, refit=True)

y_pred = cross_val_predict(grid, x,y, cv=5)

r2 = r2_score(y, y_pred)

print(f'MAE en ventas (Millions): {mean_absolute_error(y_pred, y)}')

print(f'MSE en ventas (Millions): {mean_squared_error(y_pred, y)}')

print(f'R2 Coeff: {r2}')

MAE en ventas (Millions): 0.74290436630769
MSE en ventas (Millions): 2.7756721649564478
R2 Coeff: -0.12996735641963042

# Lasso Regression con Cross Validation

In [126]:
from sklearn.linear_model import Lasso
from sklearn.model_selection import GridSearchCV

In [127]:
lasso = Lasso()

grid = GridSearchCV(lasso, param_grid={'alpha': range(1, 10)}, refit=True)

y_pred = cross_val_predict(grid, x, y, cv=5)

r2 = r2_score(y, y_pred)

print(f'MAE en ventas (Millions): {mean_absolute_error(y_pred, y)}')

print(f'MSE en ventas (Millions): {mean_squared_error(y_pred, y)}')

print(f'R2 Coeff: {r2}')

MAE en ventas (Millions): 0.7424624839171002
MSE en ventas (Millions): 2.775333953596747
R2 Coeff: -0.12982967164516146

**Se ejecuta el modelo a travÃ©s de 10 pruebas diferentes para ver cuÃ¡nto varÃ­an los resultados del modelo.**

In [128]:
def linear_regression_lasso_model(x, y, scalar):
    x_train, x_test, y_train, y_test = train_test_split(x, y)

    x_train = scalar.fit_transform(x_train)
    x_test = scalar.transform(x_test)

    lasso = Lasso(alpha=1)

    lasso.fit(x_train, y_train)

    y_pred = lasso.predict(x_test)

    encoded_df['Prediccion'] = y_pred;
    return {'MAE': mean_absolute_error(y_test, y_pred),
            'MSE': mean_squared_error(y_test, y_pred)}

In [129]:
lasso_result_list = list()
for i in range(0,10):
    lasso_result_list.append(linear_regression_lasso_model(x,y,scalar))

mae = list()
mse = list()

for result in lasso_result_list:
    mae.append(result['MAE'])
    mse.append(result['MSE'])

print(f'MAE en ventas (Millions): {np.mean(mae)}')
print(f'MSE en ventas (Millions): {np.mean(mse)}')
print('\nPruebas:')

for counter in range(0,len(lasso_result_list)):
    print(f'Prueba {counter+1}:\n\tMAE: {mae[counter]}\n\tMSE: {mse[counter]}')
    
encoded_df

ValueError: Length of values does not match length of index

In [ ]:
encoded_df_copy = encoded_df
ps2 = 16
acction = 1
query = "Platform == {p} and Genre == {g}".format(p=ps2, g=adventure)

promedioPrediccion = encoded_df_copy.query(query)['Prediccion'].mean()
promedioVentasGlobalesCombinacion = encoded_df_copy.query(query)['Global_Sales'].mean()

print("Conjunto: PS2 y Accion")
print("Promedio de ventas del conjunto:", promedioVentasGlobalesCombinacion)
print("Promedio de las predicciones:", promedioPrediccion)

# ConclusiÃ³n de las pruebas
Al usar Cross Validation, se pude tener una buena idea de quÃ© modelo funcionarÃ­a mejor. En este caso, Lasso Regression superÃ³ a los demas modelos. Cuando se trabajo contra el conjunto de datos de prueba, muy bien, con un promedio de MAE de alrededor de 580.000 ventas. Esto no es tan malo, considerando que la escala de Ventas Globales es de millones para este conjunto de datos.